/* NAVBAR */
.navbarWrapper{
    top: 0;
    z-index: 999;
    position: sticky;
}
.navbar-brand {
    color: #fff;
    margin-right:10rem;
}

.navbar-brand:hover {
    color: #99bbff;
}

ul .nav-link {
    color: #fff;
}

ul .nav-link:hover {
    color: #99bbff;
}

ul .nav-item .navlink {
    color: #fff;
    text-decoration: none;
}

ul .nav-item .navlink:hover {
    color: #99bbff;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

/* Main Area */
.fieldInfo {
    color: rgb(251, 174, 44);
    font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

/* Footer */

.lead {
    padding-top: 10px;
}